@charset "UTF-8";

.ask {
	font-weight: bold;
}

.body-content {
	display: flex;
	justify-content: space-around;
	padding: 30px 40px;
}

.btn-start {
	padding: 14px 75px;
	font-size: 36px;
	color: #e84b00;
	background-color: #f0e8d1;
	border-radius: 12px;
}

.confirm-btn {
	width: 140px;
}

.container-model {
	text-align: center;
	background-color: aliceblue;
}

.error {
	color: red;
}

.error-container{
	margin: auto;
    text-align: center;
    margin-top: 20%;
}

.form-title {
	background-color: #bdeb99;
	justify-content: center;
	margin: 10px 0px;
	border-top-right-radius: 13px;
	border-top-left-radius: 13px;
}

.form-content {
	padding: 0px 10px;
}

.form-text-title {
	margin: 5px;
}

.flex-around {
	display: flex;
	flex-direction: row;
}

.header {
	background-color: #585858e0;
	padding: 30px 40px;
	color: white;
	text-align: center;
	font-weight: bold;
}

img {
	width: 770px;
	height: 420px;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	padding-top: 50px;
}

.modal-content {
	background-color: #fefefe;
	margin: 5% auto 15% auto;
	border: 1px solid #888;
	width: 22%;
}

.table-col-title {
	background-color: #21252947;
}

.title-popup {
	background-color: forestgreen;
	height: 80px;
	margin-bottom: 4%;
	padding: 3%;
}

.table-title {
	background-color: #bff199;
	text-align: center;
	font-size: 25px;
}

.welcome-banel {
	display: flex;
	justify-content: center;
}

.header-title {
	margin: 5px;
}